<div class="row" *ngIf="!isLoading">
    <div class="col-lg-12 m-b-30">
        <h3>Informações</h3>
    </div>
    <div class="col-lg-4 m-b-30">
        <div class="form-group">
            <label>Nome Completo:</label>
            <p>Tawan Reis de Abreu</p>
        </div>
    </div>
    <div class="col-lg-4 m-b-30">
        <div class="form-group">
            <label>E-mail:</label>
            <p>tawanreis1@hotmail.com</p>
        </div>
    </div>
    <div class="col-lg-4 m-b-30">
        <div class="form-group">
            <label>Telefone:</label>
            <p>(13)99208-7070</p>
        </div>
    </div>
    <div class="col-lg-4 m-b-60">
        <div class="form-group">
            <label>Linguagem Back-end:</label>
            <p>Node.js v.10.16.3</p>
        </div>
    </div>
    <div class="col-lg-4 m-b-60">
        <div class="form-group">
            <label>Framework Front-end:</label>
            <p>Angular v.8.12.14</p>
        </div>
    </div>
    <div class="col-lg-4 m-b-60">
        <div class="form-group">
            <label>Banco de Dados:</label>
            <p>MongoDB</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label>Data de Início:</label>
            <p>16/11/2019</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label>Data de Conclusão:</label>
            <p>21/11/2019</p>
        </div>
    </div>
</div>